.profile-pic {
  width: 200px;
  height: 200px;
  border: white solid 1px;
  margin: 10px auto;
}

ion-card-title {
  color: #041a97;
}

.hiddencard {
  margin-top: 5vh;
}

.arrow {
  margin-top: 1vh;
  height: 80px;
  margin-right: 0px;
}

.list {
  background-color: #72c1e1;
}

.red {
  color: red;
}

.orange {
  color: rgb(255, 174, 0);
}

.yellow {
  color: rgb(223, 223, 27);
}

.green {
  color: rgb(63, 155, 44);
}

.teal {
  color: rgb(22, 177, 164);
}

.lightblue {
  color: lightskyblue;
}

.blue {
  color: rgb(22, 153, 240);
}

.darkblue {
  color: blue;
}

.purple {
  color: rgb(66, 0, 128);
}

.magenta {
  color: purple;
}

.pink {
  color: rgb(195, 0, 255);
}

.brightpink {
  color: magenta;
}

.redpink {
  color: rgb(218, 69, 94);
}
