<ion-header>
  <ion-toolbar>
    <ion-title>View Thoughts & Feelings notes!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let note of thoughtsfeelings; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Thoughts & Feelings Info</ion-card-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Note Name</ion-label>
              <ion-icon
                class="red"
                slot="start"
                name="chatbubble-ellipses"
              ></ion-icon>
              <p>{{note.note_name}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Photo</ion-label>
              <ion-icon class="orange" slot="start" name="camera"></ion-icon>
              <div class="images-wrapper">
                <div class="pick-single-image" *ngFor="let photo of photos; let id = index">
                  <!-- <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon> -->
                  <img [src]="photo" alt="" srcset="">
                </div>
              </div>
              <p>{{note.photo}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label color="medium" position="stacked">Notes</ion-label>
              <p>{{note.notes}}</p>
              <ion-icon class="yellow" slot="start" name="pencil"></ion-icon>
            </ion-item>
            <ion-button
              color="danger"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="removeData(note.rowid)"
              ><ion-icon
                size="large"
                color="danger"
                name="trash-outline"
              ></ion-icon
            ></ion-button>
            <ion-button
              color="success"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="editModal(note.rowid)"
            >
              <ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
