<ion-header>
  <ion-toolbar>
    <ion-title>Add Condition</ion-title>
    <ion-button color="light" slot="start" size="small" (click)="closeModal()"
    ><ion-icon size="large" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="submitData(form)">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="tertiary">Condition</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="tertiary" position="stacked">Diagnosis</ion-label>
              <ion-icon
              color="tertiary"
                slot="start"
                name="medkit-outline"
              ></ion-icon>
              <ion-select
                interface="popover"
                placeholder="Diagnosis"
                [(ngModel)]="data.diagnosis"
                name="diagnosis"
              >
                <ion-select-option value="Uveitis">Uveitis</ion-select-option>
                <ion-select-option value="Uveitis2">Uveitis2</ion-select-option>
                <ion-select-option value="Uveitis3">Uveitis3</ion-select-option>
                <ion-select-option value="Uveitis4">Uveitis4</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="tertiary" position="stacked">Diagnosis Details</ion-label>
              <ion-icon slot="start" name="document-text-outline" color="tertiary"></ion-icon>
              <ion-textarea
              type="text"
              placeholder="Details about diagnosis"
              [(ngModel)]="data.diagnosis_details"
              name="diagnosis_details"
            ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="tertiary" position="stacked">Diagnosis Date</ion-label>
              <ion-icon slot="start" name="calendar-number-outline" color="tertiary"></ion-icon>
              <ion-datetime
              displayFormat="DD MMMM YYYY"
              placeholder="Diagnosis Date"
              [(ngModel)]="data.diagnosis_date"
              name="diagnosis_date"
            ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="tertiary"  position="stacked">Notes</ion-label>
              <ion-icon slot="start" name="pencil-outline" color="tertiary"></ion-icon>
              <ion-textarea
              type="text"
              placeholder="Notes"
              [(ngModel)]="data.notes"
              name="notes"
            ></ion-textarea>
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button
              type="button"
              fill="outline"
              color="danger"
              (click)="form.reset()"
            >Clear</ion-button>
              <ion-button
                type="button"
                type="submit"
                value="submit"
                id="submit"
                color="success"
              >Submit</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>