.entry-header {
<<<<<<< HEAD
    // font-weight: bold;
    font-size: large;
    color: black;
  }
  
  .list {
    background-color: #96bdc6;
  }
=======
  // font-weight: bold;
  font-size: large;
  color: black;
}

.list {
  background-color: #96bdc6;
}

.hiddencard {
  margin-top: 5vh;
}

.arrow {
  margin-top: 1vh;
  height: 80px;
  margin-right: 0px;
}
>>>>>>> 1ef8e202372ce8d505c2454026e1299bd422d33f
