<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upcoming Appointments</ion-title>
    <ion-button color="success" slot="end" (click)="openModal()"
    ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
  >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-list *ngFor="let app of appointments; let i = index" class="list">
  <ion-card>
    <ion-grid>  
      <ion-row>
    <ion-col>
      <ion-item>
        <ion-label color="tertiary">Appointment</ion-label>
        <ion-icon
        color="tertiary"
        slot="start"
        name="calendar-number-outline"
      ></ion-icon>
      </ion-item>
          <ion-item>
        <p>{{app.date | date: "dd MMMM YYYY 'at' HH:mm a"}}</p>
      </ion-item>
      <ion-item>
      <p>With Dr {{app.doctor}}</p>
    </ion-item>
    <ion-button color="light" style="float: right" (click)="removeData(app.rowid)"
    ><ion-icon size="large" color="danger" name="trash-outline"></ion-icon></ion-button>
    <ion-button color="light" style="float: right" (click)="viewModal(app.rowid)"
    ><ion-icon color="tertiary" slot="start" name="eye"></ion-icon>View</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-card>
</ion-list>
</ion-content>

