<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upcoming Appointments</ion-title>
    <ion-button color="success" slot="end" (click)="openModal()"
    ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
  >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-list *ngFor="let app of appointments; let i = index" class="list">
  <ion-card>
    <ion-grid>  
      <ion-row>
    <ion-col>
      <ion-label class="entry-header">Appointment</ion-label>
          <ion-icon
            style="float: right"
            name="trash-outline"
            size="large"
            color="danger"
            (click)="removeData(app.rowid)"
          ></ion-icon>
          <ion-icon name="create" color="tertiary" style="float: right" size="large" (click)="editModal(app.rowid)"></ion-icon>
          <ion-icon name="eye" color="success" style="float: right" size="large" (click)="viewModal(app.rowid)"></ion-icon>
      <ion-item>
        <ion-label color="medium" position="stacked">Date</ion-label>
        <ion-icon
          color="tertiary"
          slot="start"
          name="calendar-number-outline"
        ></ion-icon>
        <p>{{app.date | date: 'dd MMMM y'}}</p>
      </ion-item>
      <ion-item>
        <ion-label color="medium" position="stacked">Place</ion-label>
        <ion-icon
          color="tertiary"
          slot="start"
          name="business-outline"
        ></ion-icon>
        <p>{{app.place}}</p>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-card>
  
</ion-list>
</ion-content>







