<ion-header>
  <ion-toolbar>
    <ion-title>View Appointment</ion-title>
    <ion-button slot="start" size="small" (click)="closeModal()"
    ><ion-icon slot="start" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let app of appointments; let i = index" class="list">
    <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="entry-header">Appointment</ion-label>
          <ion-icon
          style="float: right"
          name="trash-outline"
          size="large"
          color="danger"
          (click)="removeData(app.rowid)"
        ></ion-icon>
          <ion-icon name="create" color="tertiary" style="float: right" size="large" (click)="editModal(app.rowid)"></ion-icon>
        </ion-col>
      </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label  color="medium" position="stacked">Date & Time</ion-label>
        <ion-icon
          color="tertiary"
          slot="start"
          name="calendar-number-outline"
        ></ion-icon>
        <p>{{app.date | date: "dd MMMM YYYY 'at' HH:mm a"}}</p>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label  color="medium" position="stacked">Doctor</ion-label>
        <ion-icon
          color="tertiary"
          slot="start"
          name="medkit-outline"
        ></ion-icon>
        <p>{{app.doctor}}</p>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label  color="medium" position="stacked">Place</ion-label>
        <ion-icon
          color="tertiary"
          slot="start"
          name="business-outline"
        ></ion-icon>
        <p>{{app.place}}</p>
      </ion-item>
    </ion-col>
  </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="medium"  position="stacked">Description</ion-label>
            <ion-icon
            color="tertiary"
            slot="start"
            name="chatbubble-ellipses-outline"
          ></ion-icon>
            <p>{{app.description}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label  color="medium" position="stacked">Questions?</ion-label>
            <ion-icon
            color="tertiary"
            slot="start"
            name="help-circle-outline"
          ></ion-icon>
            <p>{{app.questions}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
</ion-list>
</ion-content>

