<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Current Medicines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="saveData(form)">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="entry-header">Medicine</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon
                slot="start"
                name="medkit-outline"
                size="small"
              ></ion-icon>
              <ion-select          
                interface="popover"
                placeholder="Medicine Name"
                [(ngModel)]="data.medicinename"
                name="medicinename"
              >
                <ion-select-option value="Prednisolone tablets"
                  >Prednisolone tablets</ion-select-option
                >
                <ion-select-option value="Folic acid"
                  >Folic acid</ion-select-option
                >
                <ion-select-option value="Naproxen">Naproxen</ion-select-option>
                <ion-select-option value="Paracetamol"
                  >Paracetamol</ion-select-option
                >
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-textarea
                type="text"
                placeholder="Instructions"
                [(ngModel)]="data.instructions"
                name="instructions"
              ></ion-textarea>
              <ion-icon
                slot="start"
                name="information-outline"
                size="small"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Side Effects"
                [(ngModel)]="data.sideeffects"
                name="sideeffects"
              ></ion-input>
              <ion-icon slot="start" name="sad-outline" size="small"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon
                slot="start"
                name="chatbox-ellipses-outline"
                size="small"
              ></ion-icon>
              <ion-textarea
                type="text"
                placeholder="Notes"
                [(ngModel)]="data.notes"
                name="notes"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Have you completed this medicine?</ion-label>
              <ion-icon
                style="float: right"
                name="checkbox-outline"
                (click)="finishMedicine(index)"
              ></ion-icon>
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button
                type="button"
                size="small"
                type="submit"
                value="submit"
                id="submit"
              >
                <ion-icon slot="start" name="add"></ion-icon>Submit</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>

  <ion-list *ngFor="let med of medicines; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="entry-header">Medicine</ion-label>
            <ion-icon
              style="float: right"
              name="trash-outline"
              size="large"
              (click)="removeData(med.rowid)"
            ></ion-icon>
            <ion-icon
              style="float: right"
              name="paper"
              size="large"
              (click)="editData(med.rowid)"
            ></ion-icon>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon
                slot="start"
                name="medkit-outline"
                size="small"
              ></ion-icon>
              <p>{{med.medicinename}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon
                slot="start"
                name="information-outline"
                size="small"
              ></ion-icon>
              <p>{{med.instructions}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon
                slot="start"
                name="sad-outline"
                size="small"
              ></ion-icon>
              <p>{{med.sideeffects}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <ion-item>
              <p>{{med.notes}}</p>
              <ion-icon
                slot="start"
                name="pencil-outline"
                size="small"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
  
      </ion-grid>
    </ion-card>
  </ion-list>
  </ion-content>
  