<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Current Medicines</ion-title>
    <ion-button color="success" slot="end" (click)="openModal()"
      ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar (click)="selectImageSource()" class="profile-pic" >
    <ion-img [src]="myProfileImage"></ion-img>
  </ion-avatar>
  <ion-card class="hiddencard" [hidden]="noContent()">
    <ion-item lines="none">
      <p style="font-size: 30px">
        Click 'Add' to add Current Medicines that you're taking!
      </p>
      <img class="arrow" src="../../../assets/icon/curly arrow 1.png" />
    </ion-item>
  </ion-card>
  <ion-list *ngFor="let med of medicines; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              color="warning"
              shape="round"
              size="small"
              fill="outline"
              style="float: right"
              (click)="completed(med.rowid)"
              ><ion-icon size="small" name="time-outline"></ion-icon
            ></ion-button>
            <ion-item lines="none">
              <ion-card-title>Current Medicine Info</ion-card-title>
            </ion-item>
            <ion-item lines="none">
              <ion-icon class="red" slot="start" name="medkit"></ion-icon>
              <p>I am currently taking {{med.medicinename}}</p>
            </ion-item>
            <ion-button
              color="danger"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="removeData(med.rowid)"
              ><ion-icon
                size="large"
                color="danger"
                name="trash-outline"
              ></ion-icon
            ></ion-button>
            <ion-button
              color="success"
              fill="outline"
              shape="round"
              style="float: right"
              (click)="editModal(med.rowid)"
            >
              <ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
            <ion-button
              color="tertiary"
              fill="outline"
              shape="round"
              style="float: right"
              (click)="viewModal(med.rowid)"
              ><ion-icon color="tertiary" slot="start" name="eye"></ion-icon
              >View</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
