<ion-header>
  <ion-toolbar>
    <ion-title>Edit Condition</ion-title>
    <ion-button color="light" slot="start" size="small" (click)="closeModal()"
    ><ion-icon size="large" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let history of medicalhistory; let i = index" class="list">
    <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="entry-header">Condition</ion-label>
        </ion-col>
      </ion-row>

      <form #form="ngForm" (ngSubmit)="update(rowid)">
        <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Diagnosis</ion-label>
            <ion-icon slot="start" name="medkit-outline" color="tertiary"></ion-icon>
              <ion-select
                interface="popover"
                placeholder="{{history.diagnosis}}"
                [(ngModel)]="data.diagnosis"
                name="diagnosis"
              >
                <ion-select-option value="Uveitis">Uveitis</ion-select-option>
                <ion-select-option value="Uveitis2">Uveitis2</ion-select-option>
                <ion-select-option value="Uveitis3">Uveitis3</ion-select-option>
                <ion-select-option value="Uveitis4">Uveitis4</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Details About Diagnosis</ion-label>
            <ion-icon slot="start" name="document-text-outline" color="tertiary"></ion-icon>
            <ion-textarea
            type="text"
            placeholder="{{history.diagnosis_details}}"
            [(ngModel)]="data.diagnosis_details"
            name="diagnosis_details"
          ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Diagnosis Date</ion-label>
            <ion-icon slot="start" name="calendar-number-outline" color="tertiary"></ion-icon>
            <ion-datetime
            displayFormat="DD MMMM YYYY"
            placeholder="{{history.diagnosis_date}}"
            [(ngModel)]="data.diagnosis_date"
            name="diagnosis_date"
          ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-icon slot="start" name="pencil-outline" color="tertiary"></ion-icon>
            <ion-textarea
            type="text"
            placeholder="{{history.notes}}"
            [(ngModel)]="data.notes"
            name="notes"
          ></ion-textarea>
          </ion-item>
          <div class="ion-margin-vertical ion-text-right">
            <ion-button
            type="button"
            fill="outline"
            color="danger"
            size="small"
            (click)="form.reset()"
          >
            <ion-icon slot="start" name="close"></ion-icon>Clear</ion-button>

            <ion-button
            type="button"
            size="small"
            type="submit"
            value="submit"
            id="submit"
            color="success"
          >
            <ion-icon slot="start" name="add"></ion-icon>Update</ion-button
          >
          </div>
              </ion-col>
          </ion-row>
    </form>

   </ion-grid> 
</ion-card> 
</ion-list>
</ion-content>

