<ion-header>
  <ion-toolbar>
    <ion-title>View Family Member's details!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let family of myfamily; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Family Member Info</ion-card-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Name</ion-label>
              <ion-icon class="red" slot="start" name="person"></ion-icon>
              <p>{{family.name}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Birthday</ion-label>
              <ion-icon class="orange" slot="start" name="gift"></ion-icon>
              <p>{{family.birthday | date: "dd MMMM YYYY"}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Relation</ion-label>
              <ion-icon class="yellow" slot="start" name="heart"></ion-icon>
              <p>{{family.relation}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Email</ion-label>
              <ion-icon class="green" slot="start" name="mail"></ion-icon>
              <p>{{family.email}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Telephone</ion-label>
              <ion-icon class="teal" slot="start" name="call"></ion-icon>
              <ion-button shape="round" fill="outline" slot="end" (click)="call()" >Call</ion-button>
              <p>{{family.phone}}</p>
            </ion-item>
            <ion-button
              color="success"
              fill="outline"
              shape="round"
              style="float: right"
              (click)="editModal(family.rowid)"
              ><ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
