.entry-header {
    // font-weight: bold;
    font-size: large;
    color: black;
  }
  
  .list {
    background-color: #96bdc6;
  }

  ion-select {
    color: black;
  --placeholder-opacity: 1;
    max-width: 95%;
    }

    ::ng-deep .mycomponent-wider-popover
    {
      --width: 95%;
      --max-width: 400px;
    }

    ion-input {
      color: black;
    --placeholder-opacity: 1;
      }
  
      ion-textarea {
        color: black;
      --placeholder-opacity: 1;
        }
        ion-datetime {
          color: black;
        --placeholder-opacity: 1;
          }
    