ion-card-title {
  color: #0d324d;
}

ion-select {
    color: black;
  --placeholder-opacity: 1;
    max-width: 95%;
    }

    ::ng-deep .mycomponent-wider-popover
    {
      --width: 95%;
      --max-width: 400px;
    }
    ion-content {
      --ion-background-color: linear-gradient(#5cb9dd, white);
    }
    ion-icon {
      color: #e7de56;
    }

    ion-card-title {
      color: #041a97;
      
    }

    ion-button {
      --background: #05c072;
    }

    

.profile-pic {
  margin-top: 1vh;
  width: 50px;
  height: 50px;
  border: white solid 1px;
  margin-right: 5px;
  // margin-left: 0px;
}