ion-select {
  color: black;
  --placeholder-opacity: 1;
  max-width: 95%;
  --padding-bottom: 25px;
  --padding-start: 55px;
}

::ng-deep .mycomponent-wider-popover {
  --width: 95%;
  --max-width: 400px;
}
ion-content {
  --ion-background-color: linear-gradient(#5cb9dd, white);
}

ion-card-title {
  color: #041a97;
}

.image1 {
  position: absolute;
  height: 40px;
}