<!-- The function onclick=window.open is adapted from:
https://stackoverflow.com/questions/35562745/ionic-application-open-link-in-system-browser
ion-select-option filtering is adapted from:
https://plnkr.co/edit/WUTkUnI5Th8XrZJUeBfe?p=preview&preview -->

<ion-header>
  <ion-toolbar>
    <ion-title width-50 style="text-align: center"> More Info </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <img class="image1" src="../../assets/icon/Zebra.png" />
      <ion-card-title>About Us</ion-card-title>
      
    </ion-card-header>
    <ion-item>
      <ion-text class="red"><h4 style="text-align: center">C</h4></ion-text>
      <ion-text class="orange"><h4 style="text-align: center">O</h4></ion-text>
      <ion-text class="teal"><h4 style="text-align: center">R</h4></ion-text>
      <ion-text class="purple"><h4 style="text-align: center">D</h4></ion-text>
      <ion-text class="pink"><h4 style="text-align: center">S</h4></ion-text>
      <ion-text class="redpink"
        ><h4 style="text-align: center">S:</h4></ion-text
      >
      <ion-text color="dark">
        <h5 style="text-align: center" class="purple">
          Childhood Onset Rare Disease Selfcare Support
        </h5>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text color="dark">
        <h5 style="text-align: center">
          Helping you to manage your medical information as you grow into
          adulthood
        </h5>
      </ion-text>
    </ion-item>
    <ion-text color="primary">
      <h6 style="text-align: center">In association with IXN for the NHS</h6>
    </ion-text>
    <ion-text color="primary">
      <h5 style="text-align: center">Made by Eleni Rostidou, Arianna Bourke & Megan Gallagher</h5>
    </ion-text>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Create PDFs</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Click to download a PDF of your information</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document" class="red"></ion-icon>
      <ion-label>Urgent Plan</ion-label>
      <ion-button
        (click)="openUPModal()"
        size="medium"
        shape="round"
        fill="outline"
        color="success"
      >
        <ion-icon slot="start" name="download-outline"></ion-icon
        >PDF</ion-button
      >
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document" class="orange"></ion-icon>
      <ion-label>Medicines</ion-label>
      <ion-button
        (click)="openMedModal()"
        size="medium"
        shape="round"
        fill="outline"
        color="success"
      >
        <ion-icon slot="start" name="download-outline"></ion-icon
        >PDF</ion-button
      >
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document" class="yellow"></ion-icon>
      <ion-label>My Conditions</ion-label>
      <ion-button
        (click)="openCondModal()"
        size="medium"
        shape="round"
        fill="outline"
        color="success"
      >
        <ion-icon slot="start" name="download-outline"></ion-icon
        >PDF</ion-button
      >
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Helpful Links</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon slot="start" name="globe" class="teal"></ion-icon>
      <ion-label>Patient Support Networks & Charities</ion-label>
    </ion-item>
    <ion-item>
      <ion-select
        #links
        ngModel
        name="estate"
        interface="popover"
        placeholder="Select an option to view links"
        [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"
      >
        <ion-select-option value="1"
          >Young Person's Charities</ion-select-option
        >
        <ion-select-option value="2">Ophthalmology disorders</ion-select-option>
        <ion-select-option value="3">Rheumatology disorders</ion-select-option>
        <ion-select-option value="4"
          >Gastroenterology disorders</ion-select-option
        >
        <ion-select-option value="5">Dermatology disorders</ion-select-option>
        <ion-select-option value="6">Nephrology disorders</ion-select-option>
        <ion-select-option value="7">Medications</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="links.value === '1'">
      <ion-item>
        <ion-list>
          <ion-item>
            <a
              href="#"
              onclick="window.location.assign('https://www.raredisease.org.uk/',
     '_system', 'location=yes'); return false;"
              >Rare disease UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.location.assign('https://contact.org.uk/',
        '_system', 'location=yes'); return false;"
              >Contact – for families with disable children</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://youngminds.org.uk/contact-us/',
         '_system', 'location=yes'); return false;"
              >Young Minds – support for mental health</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.brook.org.uk/contact-us/',
          '_system', 'location=yes'); return false;"
              >Brook – health minds for young people</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.nspcc.org.uk/',
           '_system', 'location=yes'); return false;"
              >NSPCC – the UK children’s charity</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.childline.org.uk/',
            '_system', 'location=yes'); return false;"
              >Childline – online support for children</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://healthtalk.org/health-and-weight/overview',
            '_system', 'location=yes'); return false;"
              >Health and weight for young people</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.beateatingdisorders.org.uk/',
            '_system', 'location=yes'); return false;"
              >BEAT – eating disorder support</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.talktofrank.com/',
            '_system', 'location=yes'); return false;"
              >FRANK – honest information about drugs</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.citizensadvice.org.uk/',
            '_system', 'location=yes'); return false;"
              >Citizen's Advice – online free advice about your rights</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://nationalcareers.service.gov.uk/',
            '_system', 'location=yes'); return false;"
              >National Careers Service - information, advice and guidance to
              help you make decisions on learning, training and work</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.youthemployment.org.uk/',
            '_system', 'location=yes'); return false;"
              >Youth Employment – careers advice</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.themix.org.uk/',
            '_system', 'location=yes'); return false;"
              >The Mix – essential support</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.princes-trust.org.uk/',
            '_system', 'location=yes'); return false;"
              >Princes Trust</a
            >
          </ion-item>
        </ion-list>
      </ion-item>
    </div>

    <div *ngIf="links.value === '2'">
      <ion-item>
        <ion-list>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.nhs.uk/conditions/childhood-cataracts/',
     '_system', 'location=yes'); return false;"
              >Childhood cataract, aphakia and pseudophakia</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.childhoodcataracts.org.uk/personal-stories/',
     '_system', 'location=yes'); return false;"
              >Childhood cataracts - personal stories</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.blf.org.uk/support-for-you/sarcoidosis-in-children',
        '_system', 'location=yes'); return false;"
              >Sarcoidosis</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.nhs.uk/conditions/lazy-eye/',
         '_system', 'location=yes'); return false;"
              >Amblyopia</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('http://www.oliviasvision.org/',
          '_system', 'location=yes'); return false;"
              >Uveitis group - Olivias Vision</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.youtube.com/watch?v=1vBzqS_HD_E',
          '_system', 'location=yes'); return false;"
              >Uveitis patient video</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.blf.org.uk/support-for-you/sarcoidosis-in-children',
           '_system', 'location=yes'); return false;"
              >Uveitis treatment video</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.moorfields.nhs.uk/content/childrens-glaucoma',
            '_system', 'location=yes'); return false;"
              >Moorfields - childhood glaucoma</a
            >
          </ion-item>
        </ion-list>
      </ion-item>
    </div>

    <div *ngIf="links.value === '3'">
      <ion-item>
        <ion-list>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.vasculitis.org.uk',
     '_system', 'location=yes'); return false;"
              >Vasculitis UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.thelaurencurrietwilightfoundation.org',
        '_system', 'location=yes'); return false;"
              >Lauren Currie Twilight Foundation
            </a>
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.versusarthritis.org/about-arthritis/conditions/',
         '_system', 'location=yes'); return false;"
              >Versus Arthritis</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.ccaa.org.uk/',
          '_system', 'location=yes'); return false;"
              >CCAA – children with arthritis</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.nhs.uk/conditions/sarcoidosis/',
           '_system', 'location=yes'); return false;"
              >Sarcoid – NHS information</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.amyloidosis.org.uk/fever-syndromes/inherited-fever-syndromes/',
            '_system', 'location=yes'); return false;"
              >Periodic fever syndromes</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.blf.org.uk/support-for-you/sarcoidosis-in-children/',
            '_system', 'location=yes'); return false;"
              >Sarcoidosis</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.behcets.org.uk',
            '_system', 'location=yes'); return false;"
              >Behcets</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.lupusuk.org.uk/medical/nurses-guide/what-is-lupus/',
            '_system', 'location=yes'); return false;"
              >Lupus UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.sruk.co.uk/',
            '_system', 'location=yes'); return false;"
              >Scleroderma and Raynaud’s UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://jia.org.uk/',
            '_system', 'location=yes'); return false;"
              >NRAS JIA</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://arthursplace.co.uk/',
            '_system', 'location=yes'); return false;"
              >Arthur’s place</a
            >
          </ion-item>
        </ion-list>
      </ion-item>
    </div>

    <div *ngIf="links.value === '4'">
      <ion-item>
        <ion-list>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.crohnsandcolitis.org.uk/',
     '_system', 'location=yes'); return false;"
              >Crohns and Colitis UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.nhs.uk/conditions/inflammatory-bowel-disease/',
        '_system', 'location=yes'); return false;"
              >NHS IBD</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://gutscharity.org.uk/advice-and-information/conditions/eosinophilic-diseases/',
         '_system', 'location=yes'); return false;"
              >Gastro disorders: Guts UK</a
            >
          </ion-item>
        </ion-list>
      </ion-item>
    </div>
    <div *ngIf="links.value === '5'">
      <ion-item>
        <ion-list>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.lupusuk.org.uk/medical/nurses-guide/what-is-lupus/',
     '_system', 'location=yes'); return false;"
              >Lupus UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.eos.org.uk',
        '_system', 'location=yes'); return false;"
              >Eczema Outreach Support</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.psoriasis-association.org.uk',
         '_system', 'location=yes'); return false;"
              >Psoriasis Association</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.sruk.co.uk/',
          '_system', 'location=yes'); return false;"
              >Scleroderma and Raynaud’s UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open(' https://www.myositis.org.uk/myositis-info/conditions/dermatomyositis/',
           '_system', 'location=yes'); return false;"
              >Myosistis support</a
            >
          </ion-item>
        </ion-list>
      </ion-item>
    </div>

    <div *ngIf="links.value === '6'">
      <ion-item>
        <ion-list>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.infokid.org.uk/conditions',
     '_system', 'location=yes'); return false;"
              >Infokids</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://kidneyresearchuk.org/research/research-networks/clinical-study-groups/glomerulonephritis-clinical-study-group/',
     '_system', 'location=yes'); return false;"
              >Kidney research UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.lupusuk.org.uk/medical/nurses-guide/what-is-lupus/',
     '_system', 'location=yes'); return false;"
              >Lupus UK</a
            >
          </ion-item>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.kidneycareuk.org/',
     '_system', 'location=yes'); return false;"
              >Kidney Care UK</a
            >
          </ion-item>
        </ion-list>
      </ion-item>
    </div>
    <div *ngIf="links.value === '7'">
      <ion-item>
        <ion-list>
          <ion-item>
            <a
              href="#"
              onclick="window.open('https://www.versusarthritis.org/about-arthritis/treatments/drugs/',
     '_system', 'location=yes'); return false;"
              >Versus Arthritis</a
            >
          </ion-item>
        </ion-list>
      </ion-item>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Emergency Numbers</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Emergency Number (Ambulance, Police, Fire)</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call" class="purple"></ion-icon>
      <ion-label>999</ion-label>
      <ion-button
        shape="round"
        fill="outline"
        size="medium"
        ((click)="CallNow('999')"
        >Call 999</ion-button
      >
    </ion-item>
    <ion-item>
      <ion-label>NHS Non-Emergency Medical Number</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call" class="pink"></ion-icon>
      <ion-label>111</ion-label>
      <ion-button
        shape="round"
        fill="outline"
        size="medium"
        (click)="CallNow('111')"
        >Call 111</ion-button
      >
    </ion-item>
    <ion-item>
      <ion-label>Non-Emergency Police Number</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call" class="redpink"></ion-icon>
      <ion-label>101</ion-label>
      <ion-button
        shape="round"
        fill="outline"
        size="medium"
        (click)="CallNow('101')"
        >Call 101</ion-button
      >
    </ion-item>
  </ion-card>
</ion-content>
