<ion-header>
  <ion-toolbar>
    <ion-title>Add a Procedure!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" novalidate (ngSubmit)="submitData(form)">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Add Procedure</ion-card-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Date & Time</ion-label>
              <ion-icon
                class="red"
                slot="start"
                name="calendar-number"
              ></ion-icon>
              <ion-datetime
                displayFormat="DD MMMM YYYY HH:mm"
                [(ngModel)]="data.date"
                name="date"
                required
                #dateCtrl="ngModel"
                placeholder="Date & Time (*Required)"
              ></ion-datetime>
            </ion-item>
            <ion-item *ngIf="!dateCtrl.valid && dateCtrl.touched">
              <ion-text color="danger">*Date is required</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Doctor</ion-label>
              <ion-icon class="orange" slot="start" name="medkit"></ion-icon>
              <ion-input
                type="text"
                [(ngModel)]="data.doctor"
                name="doctor"
                placeholder="Doctor's Name"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Place</ion-label>
              <ion-icon class="yellow" slot="start" name="business"></ion-icon>
              <ion-input
                type="text"
                [(ngModel)]="data.place"
                name="place"
                placeholder="Place"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Procedure Type</ion-label>
            <ion-icon class="green" slot="start" name="fitness"></ion-icon>
             <ion-select 
            #links ngModel 
            name="type" 
            interface="popover" 
            placeholder="Select Option"
            [(ngModel)]="data.type"
            [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
              <ion-select-option value='Cataract surgery'>Cataract surgery</ion-select-option>
              <ion-select-option value='Cataract surgery with lens implant'>Cataract surgery with lens implant </ion-select-option>
              <ion-select-option value='Glaucoma surgery'>Glaucoma surgery</ion-select-option>
              <ion-select-option value='Glaucoma surgery with tube'>Glaucoma surgery with tube</ion-select-option>
              <ion-select-option value='Removal of band keratopathy'>Removal of band keratopathy</ion-select-option>
              <ion-select-option value='Injection of steroid inside eye (intravitreal steroid)'>Injection of steroid inside eye (intravitreal steroid)</ion-select-option>
              <ion-select-option value='Injection of steroid implant into eye (Ozurdex implant)'>Injection of steroid implant into eye (Ozurdex implant)</ion-select-option>
              <ion-select-option value='Injection of steroids around the eye (Orbital floor steroid)'>Injection of steroids around the eye (Orbital floor steroid)</ion-select-option>
              <ion-select-option value='Injection of steroid into joint'>Injection of steroid into joint</ion-select-option>
              <ion-select-option value='Endoscopy'>Endoscopy</ion-select-option>
              <ion-select-option value='Gastroscopy'>Gastroscopy</ion-select-option>
              <ion-select-option value='Kidney transplant'>Kidney transplant</ion-select-option>
              <ion-select-option value='Biopsy'>Biopsy</ion-select-option>
              <ion-select-option value='Other'>Other Operation</ion-select-option>
            </ion-select>
          </ion-item>
         </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Description</ion-label>
              <ion-icon
                class="teal"
                slot="start"
                name="chatbubble-ellipses"
              ></ion-icon>
              <ion-textarea
                rows="3"
                type="text"
                [(ngModel)]="data.description"
                name="description"
                placeholder="Description"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Questions?</ion-label>
              <ion-icon
                class="lightblue"
                slot="start"
                name="help-circle"
              ></ion-icon>
              <ion-textarea
                rows="3"
                type="text"
                [(ngModel)]="data.questions"
                name="questions"
                placeholder="Questions to ask at the procedure"
              ></ion-textarea>
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button
                type="button"
                fill="outline"
                shape="round"
                color="danger"
                (click)="form.reset()"
                >Clear</ion-button
              >
              <ion-button
                type="button"
                shape="round"
                type="submit"
                value="submit"
                id="submit"
                color="success"
                [disabled]="!form.valid"
                >Submit</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
