<ion-header>
  <ion-toolbar>
    <ion-title>View Upcoming Appointment details!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let app of appointments; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Upcoming Appointment Info</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked"
                >Date & Time</ion-label
              >
              <ion-icon
                class="red"
                slot="start"
                name="calendar-number"
              ></ion-icon>
              <p>{{app.date | date: "dd MMMM YYYY 'at' HH:mm a"}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Doctor</ion-label>
              <ion-icon class="orange" slot="start" name="medkit"></ion-icon>
              <p>{{app.doctor}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Place</ion-label>
              <ion-icon class="yellow" slot="start" name="business"></ion-icon>
              <p>{{app.place}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked"
                >Description</ion-label
              >
              <ion-icon
                class="green"
                slot="start"
                name="chatbubble-ellipses"
              ></ion-icon>
              <p>{{app.description}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label color="medium" position="stacked"
                >Questions?</ion-label
              >
              <ion-icon class="teal" slot="start" name="help-circle"></ion-icon>
              <p>{{app.questions}}</p>
            </ion-item>
            <ion-button
              color="success"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="editModal(app.rowid)"
              ><ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
