<ion-header>
  <ion-toolbar>
    <ion-title>Add Basic Info!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="submitData(form)">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Add Basic Info</ion-card-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Gender</ion-label>
              <ion-icon class="red" slot="start" name="transgender"></ion-icon>
              <ion-input
                type="text"
                placeholder="Gender"
                [(ngModel)]="data.gender"
                name="gender"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Height</ion-label>
              <ion-icon
                slot="start"
                name="accessibility"
                class="orange"
              ></ion-icon>
              <ion-input
                type="text"
                placeholder="Height"
                [(ngModel)]="data.height"
                name="height"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Weight</ion-label>
              <ion-icon
                slot="start"
                name="accessibility"
                class="yellow"
              ></ion-icon>
              <ion-input
                type="text"
                placeholder="Weight"
                [(ngModel)]="data.weight"
                name="height"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Blood Pressure</ion-label>
              <ion-icon slot="start" name="pulse" class="green"></ion-icon>
              <ion-input
                type="text"
                placeholder="Blood Pressure"
                [(ngModel)]="data.blood_pressure"
                name="blood_pressure"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Allergies</ion-label>
              <ion-icon slot="start" name="sad" class="teal"></ion-icon>
              <ion-textarea
                type="text"
                placeholder="Allergies"
                [(ngModel)]="data.allergies"
                name="allergies"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Notes</ion-label>
              <ion-icon
                slot="start"
                name="pencil-outline"
                class="lightblue"
              ></ion-icon>
              <ion-textarea
                type="text"
                placeholder="Notes"
                [(ngModel)]="data.notes"
                name="notes"
              ></ion-textarea>
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button
                type="button"
                fill="outline"
                color="danger"
                shape="round"
                (click)="form.reset()"
                >Clear</ion-button
              >
              <ion-button
                type="button"
                type="submit"
                value="submit"
                id="submit"
                shape="round"
                color="success"
                [disabled]="!form.valid"
                >Submit</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
