<ion-header>
  <ion-toolbar>
    <ion-title>Edit About Me</ion-title>
    <ion-button color="light" slot="start" size="small" (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let about of aboutme; let i = index" class="list">
    <form #form="ngForm" (ngSubmit)="update(rowid)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Basic Info </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon
              slot="start"
              name="person-outline"
              size="small"
            ></ion-icon>
            <ion-input
              placeholder="Name"
              name="name"
              [(ngModel)]="data.name"
            ></ion-input>
          </ion-item>
          <ion-item
            ><ion-icon slot="start" name="gift-outline" size="small"></ion-icon>
            <ion-datetime
              displayFormat="DD MMMM YYYY"
              placeholder="Date of Birth"
              name="birthday"
              [(ngModel)]="data.birthday"
            ></ion-datetime>
          </ion-item>
          <ion-item lines="none">
            <ion-icon
              slot="start"
              name="information-circle-outline"
              size="small"
            ></ion-icon>
            <ion-textarea
              rows="2"
              placeholder="A little bit about me"
              name="about"
              [(ngModel)]="data.about"
            ></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Private Info</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon slot="start" name="mail-outline" size="small"></ion-icon>
            <ion-input
              placeholder="Email"
              name="email"
              type="email"
              [(ngModel)]="data.email"
              #emailCtrl="ngModel"
              email
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <ion-text color="danger">Email is not valid</ion-text>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="call-outline" size="small"></ion-icon>
            <ion-input
              placeholder="Phone Number"
              name="phone"
              [(ngModel)]="data.phone"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="home-outline" size="small"></ion-icon>
            <ion-textarea
              placeholder="Address"
              name="address"
              [(ngModel)]="data.address"
            ></ion-textarea>
          </ion-item>
          <ion-item lines="none">
            <ion-icon
              slot="start"
              name="newspaper-outline"
              size="small"
            ></ion-icon>
            <ion-input
              placeholder="NHS Number"
              name="nhs_number"
              [(ngModel)]="data.nhs_number"
            ></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Emergency Contacts</ion-card-title>
        </ion-card-header>
        <ion-card-header> Emergency Contact 1 </ion-card-header>
        <ion-item>
          <ion-icon slot="start" name="person-outline" size="small"></ion-icon>
          <ion-input placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-outline" size="small"></ion-icon>
          <ion-input placeholder="Phone Number"></ion-input>
        </ion-item>
        <ion-card-header> Emergency Contact 2 </ion-card-header>
        <ion-item>
          <ion-icon slot="start" name="person-outline" size="small"></ion-icon>
          <ion-input placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-outline" size="small"></ion-icon>
          <ion-input placeholder="Phone Number"></ion-input>
        </ion-item>
        <ion-card-header> Emergency Contact 3 </ion-card-header>
        <ion-item>
          <ion-icon slot="start" name="person-outline" size="small"></ion-icon>
          <ion-input placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-outline" size="small"></ion-icon>
          <ion-input placeholder="Phone Number"></ion-input>
        </ion-item>
        <div class="ion-margin-vertical ion-text-right">
          <ion-button
            type="button"
            fill="outline"
            color="danger"
            (click)="form.reset()"
            >Clear</ion-button
          >
          <ion-button
            type="button"
            type="submit"
            value="submit"
            id="submit"
            color="success"
            >Submit</ion-button
          >
        </div>
      </ion-card>
    </form>
  </ion-list>
</ion-content>
