.card-header {
  font-size: large;
}

.list {
  background-color: #72c1e1;
}

.hiddencard {
  margin-top: 5vh;
}

.arrow {
  margin-top: 1vh;
  height: 80px;
  margin-right: 0px;
}

ion-icon {
  color: #e7de56;
}

ion-card-title {
  color: #041a97;
}
