<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Family</ion-title>
    <ion-button color="success" slot="end" (click)="openModal()"
      ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="hiddencard" [hidden]="noContent()">
    <ion-item lines="none">
      <p style="font-size: 30px">Click 'Add' to start adding Family Members!</p>
      <img class="arrow" src="../../../assets/icon/curly arrow 1.png" />
    </ion-item>
  </ion-card>
  <ion-list *ngFor="let family of myfamily; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-card-title>Family Member Info</ion-card-title>
            </ion-item>
            <ion-item lines="none">
              <ion-icon
                slot="start"
                size="medium"
                name="person"
                class="red"
              ></ion-icon>
              <p>{{family.name}}</p>
            </ion-item>
            <ion-item>
              <p>{{family.relation}}</p>
            </ion-item>
            <ion-button
              color="danger"
              fill="outline"
              style="float: right"
              shape="round"
              (click)="removeData(family.rowid)"
              ><ion-icon
                size="large"
                color="danger"
                name="trash-outline"
              ></ion-icon
            ></ion-button>
            <ion-button
              color="success"
              fill="outline"
              shape="round"
              style="float: right"
              (click)="editModal(family.rowid)"
            >
              <ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
            <ion-button
              color="tertiary"
              fill="outline"
              shape="round"
              style="float: right"
              (click)="viewModal(family.rowid)"
              ><ion-icon color="tertiary" slot="start" name="eye"></ion-icon
              >View</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
