<ion-header>
  <ion-toolbar>
    <ion-title width-50 style="text-align: center"> My Team </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
  <ion-row>
    <ion-col width-50 style="text-align: center">
      <ion-button
        color="light"
        expand="block"
        routerLink="my-family"
        class="button1"
      >
        <img
          class="image1"
          src="../../assets/icon/cardiogram-heart-rate-svgrepo-com.svg"
        />
        <span class="myfamily" style="font-size: 20px">My Family</span>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col width-50 style="text-align: center">
      <ion-button
        color="light"
        routerLink="my-clinical-team"
        expand="block"
        class="button2"
        ><img class="image2" src="../../assets/icon/nurse-svgrepo-com.svg" />
        <span class="myclinicalteam" style="font-size: 20px"
          >My Clinical Team</span
        >
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
