<ion-header>
  <ion-toolbar>
    <ion-title>Edit Procedure</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let pro of procedures; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Edit Past Procedure</ion-card-title>
          </ion-col>
        </ion-row>

        <form #form="ngForm" novalidate (ngSubmit)="update(rowid)">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked"
                  >Date & Time</ion-label
                >
                <ion-icon
                  class="red"
                  slot="start"
                  name="calendar-number"
                ></ion-icon>
                <ion-datetime
                  placeholder="{{pro.date | date: 'dd MMMM y HH:mm'}}"
                  displayFormat="DD MMMM YYYY"
                  [(ngModel)]="data.date"
                  name="date"
                  required
                  #dateCtrl="ngModel"
                ></ion-datetime>
              </ion-item>
              <ion-item *ngIf="!dateCtrl.valid && dateCtrl.touched">
                <ion-text color="danger">*Date is required</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked">Doctor</ion-label>
                <ion-icon class="orange" slot="start" name="medkit"></ion-icon>
                <ion-input
                  type="text"
                  placeholder="{{pro.doctor}}"
                  [(ngModel)]="data.doctor"
                  name="doctor"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked">Place</ion-label>
                <ion-icon
                  class="yellow"
                  slot="start"
                  name="business"
                ></ion-icon>
                <ion-input
                  type="text"
                  placeholder="{{pro.place}}"
                  [(ngModel)]="data.place"
                  name="place"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked"
                  >Procedure Type</ion-label
                >
                <ion-icon class="green" slot="start" name="fitness"></ion-icon>
                <ion-select
                  #links
                  ngModel
                  name="estate"
                  interface="popover"
                  placeholder="{{pro.type}}"
                  [(ngModel)]="data.type"
                  [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"
                >
                  <ion-select-option value="Cataract surgery"
                    >Cataract surgery</ion-select-option
                  >
                  <ion-select-option value="Cataract surgery with lens implant"
                    >Cataract surgery with lens implant
                  </ion-select-option>
                  <ion-select-option value="Glaucoma surgery"
                    >Glaucoma surgery</ion-select-option
                  >
                  <ion-select-option value="Glaucoma surgery with tube"
                    >Glaucoma surgery with tube</ion-select-option
                  >
                  <ion-select-option value="Removal of band keratopathy"
                    >Removal of band keratopathy</ion-select-option
                  >
                  <ion-select-option value="intravitreal steroid"
                    >Injection of steroid inside eye (intravitreal
                    steroid)</ion-select-option
                  >
                  <ion-select-option value="Ozurdex implant"
                    >Injection of steroid implant into eye (Ozurdex
                    implant)</ion-select-option
                  >
                  <ion-select-option value="Orbital floor steroid"
                    >Injection of steroids around the eye (Orbital floor
                    steroid)</ion-select-option
                  >
                  <ion-select-option value="Injection of steroid into joint"
                    >Injection of steroid into joint</ion-select-option
                  >
                  <ion-select-option value="Biopsy">Biopsy</ion-select-option>
                  <ion-select-option value="6">Other</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngIf="links.value === '6'">
                <ion-item>
                  <ion-icon
                    class="green"
                    slot="start"
                    name="pencil-outline"
                  ></ion-icon>
                  <ion-input
                    placeholder="Write Prodecure Type"
                    [(ngModel)]="data.type"
                  >
                  </ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked"
                  >Description</ion-label
                >
                <ion-icon
                  class="teal"
                  slot="start"
                  name="chatbubble-ellipses"
                ></ion-icon>
                <ion-textarea
                  type="text"
                  placeholder="{{pro.description}}"
                  [(ngModel)]="data.description"
                  name="description"
                ></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked"
                  >Questions?</ion-label
                >
                <ion-icon
                  class="lightblue"
                  slot="start"
                  name="help-circle"
                ></ion-icon>
                <ion-textarea
                  type="text"
                  placeholder="{{pro.questions}}"
                  [(ngModel)]="data.questions"
                  name="questions"
                ></ion-textarea>
              </ion-item>
              <div class="ion-margin-vertical ion-text-right">
                <ion-button
                  type="button"
                  fill="outline"
                  color="danger"
                  shape="round"
                  (click)="form.reset()"
                >
                  <ion-icon slot="start" name="close"></ion-icon
                  >Clear</ion-button
                >

                <ion-button
                  type="button"
                  shape="round"
                  type="submit"
                  value="submit"
                  id="submit"
                  color="success"
                >
                  <ion-icon slot="start" name="add"></ion-icon
                  >Update</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
