<ion-header>
  <ion-toolbar>
    <ion-title>Add a new Urgent Plan!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" novalidate (ngSubmit)="submitData(form)">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Add Urgent Plan</ion-card-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Type of Emergency</ion-label>
              <ion-icon class="red" slot="start" name="medkit"></ion-icon>
              <ion-input
                type="text"
                placeholder="Type of Emergency (*Required)"
                [(ngModel)]="data.type"
                name="type"
                required
                #typeCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!typeCtrl.valid && typeCtrl.touched">
              <ion-text color="danger">*Type of emergency is required</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Instructions</ion-label>
              <ion-icon class="orange" slot="start" name="book"></ion-icon>
              <ion-input
                type="text"
                placeholder="Instructions (*Required)"
                [(ngModel)]="data.instructions"
                name="instructions"
                required
                #instructionsCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!instructionsCtrl.valid && instructionsCtrl.touched"
            >
              <ion-text color="danger">*Instructions are required</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Telephone</ion-label>
              <ion-icon class="yellow" slot="start" name="call"></ion-icon>
              <ion-input
                type="text"
                placeholder="Phone Number"
                [(ngModel)]="data.phone"
                name="phone"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Notes</ion-label>
              <ion-icon class="green" slot="start" name="pencil"></ion-icon>
              <ion-textarea
                type="text"
                placeholder="Notes"
                [(ngModel)]="data.notes"
                name="notes"
              ></ion-textarea>
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
              <ion-button
                type="button"
                fill="outline"
                color="danger"
                shape="round"
                (click)="form.reset()"
                >Clear</ion-button
              >
              <ion-button
                type="button"
                shape="round"
                type="submit"
                value="submit"
                id="submit"
                color="success"
                [disabled]="!form.valid"
                >Submit</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
