<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Basic Info</ion-title>
    <ion-button
      color="success"
      slot="end"
      (click)="openModal()"
      [hidden]="checkIsEnabled()"
      ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="background" lines="none">
    <ion-avatar (click)="selectImageSource()" class="profile-pic">
      <ion-img [src]="myProfileImage"></ion-img>
    </ion-avatar>
    <ion-text><h4>Hi {{nameID}}</h4></ion-text>
  </ion-item>
  <ion-card class="hiddencard" [hidden]="noContent()">
    <ion-item lines="none">
      <p style="font-size: 30px">Click 'Add' to add Basic Info!</p>
      <img class="arrow" src="../../../assets/icon/curly arrow 1.png" />
    </ion-item>
  </ion-card>
  <ion-list *ngFor="let basic of basicInfo; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-card-title>Basic Info</ion-card-title>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Gender</ion-label>
              <ion-icon
                slot="start"
                name="transgender-outline"
                class="red"
              ></ion-icon>
              <p>{{basic.gender}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Height</ion-label>
              <ion-icon
                slot="start"
                name="accessibility"
                class="orange"
              ></ion-icon>
              <p>{{basic.height}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Weight</ion-label>
              <ion-icon
                slot="start"
                name="accessibility"
                class="yellow"
              ></ion-icon>
              <p>{{basic.weight}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked"
                >Blood Pressure</ion-label
              >
              <p>{{basic.blood_pressure}}</p>
              <ion-icon slot="start" name="pulse" class="green"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Allergies</ion-label>
              <p>{{basic.allergies}}</p>
              <ion-icon slot="start" name="sad" class="teal"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label color="medium" position="stacked">Notes</ion-label>
              <p>{{basic.notes}}</p>
              <ion-icon
                slot="start"
                name="pencil-outline"
                class="lightblue"
              ></ion-icon>
            </ion-item>
            <ion-button
              color="danger"
              fill="outline"
              shape="round"
              style="float: right"
              (click)="removeData(basic.rowid)"
              ><ion-icon
                size="large"
                color="danger"
                name="trash-outline"
              ></ion-icon
            ></ion-button>
            <ion-button
              color="success"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="editModal(basic.rowid)"
            >
              <ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
