.entry-header {
    // font-weight: bold;
    font-size: large;
    color: black;
  }
  
  .list {
    background-color: #96bdc6;
  }

  ion-content {
    --ion-background-color: linear-gradient(#5cb9dd, white);
  }

  ion-icon {
    color: #05c072;
  }