<ion-header>
  <ion-toolbar>
    <ion-title>Add Team Member</ion-title>
    <ion-button color="light" slot="start" size="small" (click)="closeModal()"
    ><ion-icon size="large" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" novalidate (ngSubmit)="submitData(form)">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="entry-header">Team Member</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-avatar (click)="selectImageSource()" class="profile-pic">
            <ion-img [src]="myProfileImage"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-icon color="tertiary" slot="start" name="person-outline"></ion-icon>
            <ion-input
            placeholder="Name (*Required)"
            type="text"
            [(ngModel)]="data.name"
            name="name"
            required
            #nameCtrl="ngModel"
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
          <ion-text color="danger">*Name is required</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

         <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Role</ion-label>
              <ion-icon color="tertiary" slot="start" name="medkit-outline"></ion-icon>
              <ion-input
              placeholder="Role"
              interface="popover"
              name="clinicalrole"
              [(ngModel)]="data.role"
            ></ion-input>
            </ion-item>
          </ion-col>
         </ion-row>

         <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Clinic Name</ion-label>
              <ion-icon color="tertiary" slot="start" name="location-outline"></ion-icon>
              <ion-input placeholder="Clinic Name"
              type="text"
              [(ngModel)]="data.clinic_name"
              name="clinic_name"></ion-input>
            </ion-item>
          </ion-col>
         </ion-row>

         <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
             <ion-icon color="tertiary" slot="start" name="mail-outline"></ion-icon>
             <ion-input
             placeholder="Email Address"
             type="email"
             [(ngModel)]="data.email"
             name="email" 
             #emailCtrl="ngModel"
             email
             ></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
              <ion-text color="danger">Email is not valid</ion-text>
            </ion-item>
         </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Telephone</ion-label>
             <ion-icon color="tertiary" slot="start" name="call-outline"></ion-icon>
             <ion-input
             placeholder="Phone Number"
             type="text"
             [(ngModel)]="data.phone"
             name="phone"
             ></ion-input>
            </ion-item>
            
           <div class="ion-margin-vertical ion-text-right">
            <ion-button
            type="button"
            fill="outline"
            color="danger"
            (click)="form.reset()"
          >Clear</ion-button>
            <ion-button
              type="button"
              type="submit"
              value="submit"
              id="submit"
              color="success"
              [disabled]="!form.valid"
            >Submit</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</form>
</ion-content>
