<ion-header>
  <ion-toolbar>
    <ion-title>Add Appointment</ion-title>
    <ion-button color="light" slot="start" size="small" (click)="closeModal()"
    ><ion-icon size="large" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" novalidate (ngSubmit)="submitData(form)">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="tertiary" >Appointment</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Date & Time</ion-label>
            <ion-icon color="tertiary" slot="start" name="calendar-number-outline"></ion-icon>
            <ion-datetime
            placeholder="Date & time (*Required)"
            displayFormat="DD MMMM YYYY HH:mm"
            [(ngModel)]="data.date"
            name="date" required
            #dateCtrl="ngModel"
          ></ion-datetime>
        </ion-item>
        <ion-item *ngIf="!dateCtrl.valid && dateCtrl.touched">
          <ion-text color="danger">*Date is required</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

         <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Doctor</ion-label>
              <ion-icon color="tertiary" slot="start" name="medkit-outline"></ion-icon>
              <ion-input 
              placeholder="Doctor's Name"
              type="text"
              [(ngModel)]="data.doctor"
              name="doctor"
              ></ion-input>
            </ion-item>
          </ion-col>
         </ion-row>

         <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Place</ion-label>
              <ion-icon color="tertiary" slot="start" name="business-outline"></ion-icon>
              <ion-input 
              placeholder="Place"
              type="text"
              [(ngModel)]="data.place"
              name="place"></ion-input>
            </ion-item>
          </ion-col>
         </ion-row>

         <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Description</ion-label>
             <ion-icon color="tertiary" slot="start" name="chatbubble-ellipses-outline"></ion-icon>
             <ion-textarea 
             placeholder="Description"
             rows="3"
             type="text"
             [(ngModel)]="data.description"
             name="description"
             ></ion-textarea>
            </ion-item>
         </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Questions?</ion-label>
             <ion-icon color="tertiary" slot="start" name="help-circle-outline"></ion-icon>
             <ion-textarea 
             placeholder="Questions to ask at the appointment"
             rows="3"
             type="text"
             [(ngModel)]="data.questions"
             name="questions"
            ></ion-textarea>
            </ion-item>
           <div class="ion-margin-vertical ion-text-right">
            <ion-button
            type="button"
            fill="outline"
            color="danger"
            (click)="form.reset()"
          >Clear</ion-button>
            <ion-button
              type="button"
              type="submit"
              value="submit"
              id="submit"
              color="success"
              [disabled]="!form.valid"
            >Submit</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</form>
</ion-content>
