<ion-header>
  <ion-toolbar>
    <ion-title>View Current Medicine info!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let med of medicines; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Current Medicine Info</ion-card-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked"
                >Medicine Name</ion-label
              >
              <ion-icon class="red" slot="start" name="medkit"></ion-icon>
              <p>{{med.medicinename}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked"
                >Instructions</ion-label
              >
              <ion-icon
                class="orange"
                slot="start"
                name="information"
              ></ion-icon>
              <p>{{med.instructions}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked"
                >Side Effects</ion-label
              >
              <ion-icon class="yellow" slot="start" name="sad"></ion-icon>
              <p>{{med.sideeffects}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Notes</ion-label>
              <p>{{med.notes}}</p>
              <ion-icon class="green" slot="start" name="pencil"></ion-icon>
            </ion-item>
            <ion-button
              color="danger"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="removeData(med.rowid)"
              ><ion-icon
                size="large"
                color="danger"
                name="trash-outline"
              ></ion-icon
            ></ion-button>
            <ion-button
              color="success"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="editModal(med.rowid)"
            >
              <ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
