<ion-header>
  <ion-toolbar>
    <ion-title>Edit Upcoming Appointment details!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let app of appointments; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Edit Upcoming Appointment</ion-card-title>
          </ion-col>
        </ion-row>

        <form #form="ngForm" novalidate (ngSubmit)="update(rowid)">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Date & Time</ion-label>
                <ion-icon
                  class="red"
                  slot="start"
                  name="calendar-number"
                ></ion-icon>
                <ion-datetime
                  placeholder="{{app.date | date: 'dd MMMM y HH:mm'}}"
                  displayFormat="DD MMMM YYYY"
                  [(ngModel)]="data.date"
                  name="date"
                  required
                  #dateCtrl="ngModel"
                ></ion-datetime>
              </ion-item>
              <ion-item *ngIf="!dateCtrl.valid && dateCtrl.touched">
                <ion-text color="danger">*Date is required</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Doctor</ion-label>
                <ion-icon class="orange" slot="start" name="medkit"></ion-icon>
                <ion-input
                  type="text"
                  placeholder="{{app.doctor}}"
                  [(ngModel)]="data.doctor"
                  name="doctor"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Place</ion-label>
                <ion-icon
                  class="yellow"
                  slot="start"
                  name="business"
                ></ion-icon>
                <ion-input
                  type="text"
                  placeholder="{{app.place}}"
                  [(ngModel)]="data.place"
                  name="place"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Description</ion-label>
                <ion-icon
                  class="green"
                  slot="start"
                  name="chatbubble-ellipses"
                ></ion-icon>
                <ion-textarea
                  type="text"
                  placeholder="{{app.description}}"
                  [(ngModel)]="data.description"
                  name="description"
                ></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Questions?</ion-label>
                <ion-icon
                  class="teal"
                  slot="start"
                  name="help-circle"
                ></ion-icon>
                <ion-textarea
                  type="text"
                  placeholder="{{app.questions}}"
                  [(ngModel)]="data.questions"
                  name="questions"
                ></ion-textarea>
              </ion-item>
              <div class="ion-margin-vertical ion-text-right">
                <ion-button
                  type="button"
                  shape="round"
                  fill="outline"
                  color="danger"
                  (click)="form.reset()"
                >
                  <ion-icon slot="start" name="close"></ion-icon
                  >Clear</ion-button
                >

                <ion-button
                  type="button"
                  shape="round"
                  type="submit"
                  value="submit"
                  id="submit"
                  color="success"
                >
                  <ion-icon slot="start" name="add"></ion-icon
                  >Update</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
