<<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Appointments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar slot="end" (click)="selectImageSource()" class="profile-pic" >
    <ion-img [src]="myProfileImage"></ion-img>
  </ion-avatar>
  <ion-button routerLink="upcoming-appointments" expand="block">Upcoming Appointments</ion-button>
  <ion-button routerLink="past-appointments" expand="block">Past Appointments</ion-button>

</ion-content>

