<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upcoming Procedures</ion-title>
    <ion-button color="success" slot="end" (click)="openModal()"
      ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="background" lines="none">
    <ion-avatar (click)="selectImageSource()" class="profile-pic" >
      <ion-img [src]="myProfileImage"></ion-img>
    </ion-avatar>
    <ion-text><h4>Hi {{nameID}}</h4></ion-text>
  </ion-item>
  <ion-card class="hiddencard" [hidden]="noContent()">
    <ion-item lines="none">
      <p style="font-size: 30px">
        Click 'Add' to start adding Upcoming Procedures!
      </p>
      <img class="arrow" src="../../../assets/icon/curly arrow 1.png" />
    </ion-item>
  </ion-card>

  <ion-list *ngFor="let pro of procedures; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-card-title>Upcoming Procedure Info</ion-card-title>
            </ion-item>
            <ion-item lines="none">
              <ion-icon
                class="red"
                slot="start"
                name="calendar-number"
              ></ion-icon>
              <p>
                I have {{pro.type}} scheduled for {{pro.date | date: "dd MMMM
                YYYY 'at' HH:mm a"}}
              </p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon class="orange" slot="start" name="business"></ion-icon>
              <p>Location: {{pro.place}}</p>
            </ion-item>
            <ion-button
              color="danger"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="removeData(pro.rowid)"
              ><ion-icon
                size="large"
                color="danger"
                name="trash-outline"
              ></ion-icon
            ></ion-button>
            <ion-button
              color="success"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="editModal(pro.rowid)"
            >
              <ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
            <ion-button
              color="tertiary"
              fill="outline"
              shape="round"
              style="float: right"
              (click)="viewModal(pro.rowid)"
              ><ion-icon color="tertiary" slot="start" name="eye"></ion-icon
              >View</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
