.button1 {
  margin-top: 22vh;
  height: 100px;
  padding: 10;
}

.image {
  position: absolute;
  height: 60px;
  left: 0px;
}

.button2 {
  height: 100px;
  padding: 10;
}

ion-content {
  --ion-background-color: linear-gradient(#5cb9dd, white);
}
