<ion-header>
  <ion-toolbar>
    <ion-title>Edit Team Member</ion-title>
    <ion-button color="light" slot="start" size="small" (click)="closeModal()"
    ><ion-icon size="large" name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let team of clinicalteam; let i = index" class="list">
    <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="tertiary">Team Member</ion-label>
        </ion-col>
      </ion-row>

      <form #form="ngForm" novalidate (ngSubmit)="update(rowid)">
        <ion-row>
          <ion-col>
            <ion-avatar (click)="selectImageSource()" class="profile-pic">
              <ion-img [src]="myProfileImage"></ion-img>
            </ion-avatar>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Name</ion-label>
             <ion-icon color="tertiary" slot="start" name="person-outline"></ion-icon>
             <ion-input
             type="text"
             [(ngModel)]="data.name"
             name="name"
             placeholder="{{team.name}}"
             required
            #nameCtrl="ngModel"
             ></ion-input>
            </ion-item>
            <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
              <ion-text color="danger">*Name is required</ion-text>
            </ion-item>
         </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Role</ion-label>
             <ion-icon color="tertiary" slot="start" name="fitness-outline"></ion-icon>
             <ion-select 
            #links ngModel 
            name="clinicalrole"
            interface="popover" 
            placeholder="{{team.role}}"
            [(ngModel)]="data.role"
            [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
            <ion-select-option value='Doctor'>Doctor</ion-select-option>
              <ion-select-option value='Ophthalmologist'>Ophthalmologist</ion-select-option>
              <ion-select-option value='Optometrist'>Optometrist</ion-select-option>
              <ion-select-option value='Rheumatologist'>Rheumatologist</ion-select-option>
              <ion-select-option value='Clinical Nurse specialist'>Clinical Nurse Specialist</ion-select-option>
              <ion-select-option value='GP'>GP</ion-select-option>
              <ion-select-option value='Mental Health Specialist'>Mental Health Specialist</ion-select-option>
              <ion-select-option value='Other'>Other</ion-select-option>
            </ion-select>
          </ion-item>
         </ion-col>
        </ion-row>

         <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Clinic Name</ion-label>
              <ion-icon color="tertiary" slot="start" name="location-outline"></ion-icon>
              <ion-input
              interface="popover"
              [(ngModel)]="data.clinic_name"
              placeholder="{{team.clinic_name}}"
              name="clinic_name"
            ></ion-input>
            </ion-item>
          </ion-col>
         </ion-row>

         <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Email</ion-label>
             <ion-icon color="tertiary" slot="start" name="mail-outline"></ion-icon>
             <ion-input
             type="text"
             [(ngModel)]="data.email"
             name="email"
             placeholder="{{team.email}}"
             ></ion-input>
            </ion-item>
         </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Telephone</ion-label>
             <ion-icon color="tertiary" slot="start" name="call-outline"></ion-icon>
             <ion-input
             type="text"
             [(ngModel)]="data.phone"
             name="phone"
             placeholder="{{team.phone}}"
             ></ion-input>
            </ion-item>
                 <div class="ion-margin-vertical ion-text-right">
                  <ion-button
                  type="button"
                  fill="outline"
                  color="danger"
                  size="small"
                  (click)="form.reset()"
                >
                  <ion-icon slot="start" name="close"></ion-icon>Clear</ion-button>

                  <ion-button
                  type="button"
                  size="small"
                  type="submit"
                  value="submit"
                  id="submit"
                  color="success"
                >
                  <ion-icon slot="start" name="add"></ion-icon>Update</ion-button
                >
                </div>
              </ion-col>
            </ion-row>
      </form>

     </ion-grid> 
  </ion-card> 
</ion-list>
</ion-content>
