<ion-header>
  <ion-toolbar>
    <ion-title> About Me </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-avatar (click)="selectImageSource()" class="profile-pic">
      <ion-img [src]="myProfileImage"></ion-img>
    </ion-avatar>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Basic Info </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon slot="start" name="person-outline" size="small"></ion-icon>
          <ion-input placeholder="Name"></ion-input>
        </ion-item>
        <ion-item
          ><ion-icon slot="start" name="gift-outline" size="small"></ion-icon>
          <ion-datetime
            displayFormat="DD MMMM YYYY"
            placeholder="Date of Birth"
          ></ion-datetime>
        </ion-item>
        <ion-item lines="none">
          <ion-icon
            slot="start"
            name="information-circle-outline"
            size="small"
          ></ion-icon>
          <ion-textarea
            rows="2"
            placeholder="A little bit about me"
          ></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Private Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon slot="start" name="mail-outline" size="small"></ion-icon>
          <ion-input placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-outline" size="small"></ion-icon>
          <ion-input placeholder="Phone Number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="home-outline" size="small"></ion-icon>
          <ion-textarea placeholder="Address"></ion-textarea>
        </ion-item>
        <ion-item lines="none">
          <ion-icon
            slot="start"
            name="newspaper-outline"
            size="small"
          ></ion-icon>
          <ion-input placeholder="NHS Number"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Emergency Contacts</ion-card-title>
      </ion-card-header>
      <ion-card-header> Emergency Contact 1 </ion-card-header>
      <ion-item>
        <ion-icon slot="start" name="person-outline" size="small"></ion-icon>
        <ion-input placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="call-outline" size="small"></ion-icon>
        <ion-input placeholder="Phone Number"></ion-input>
        <ion-button>Call</ion-button>
      </ion-item>
      <ion-card-header> Emergency Contact 2 </ion-card-header>
      <ion-item>
        <ion-icon slot="start" name="person-outline" size="small"></ion-icon>
        <ion-input placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="call-outline" size="small"></ion-icon>
        <ion-input placeholder="Phone Number"></ion-input>
        <ion-button>Call</ion-button>
      </ion-item>
      <ion-card-header> Emergency Contact 3 </ion-card-header>
      <ion-item>
        <ion-icon slot="start" name="person-outline" size="small"></ion-icon>
        <ion-input placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="call-outline" size="small"></ion-icon>
        <ion-input placeholder="Phone Number"></ion-input>
        <ion-button>Call</ion-button>
      </ion-item>
    </ion-card>
  </form>
</ion-content>
