.profile-pic {
  width: 220px;
  height: 220px;
  border: white solid 4px;
  margin: 10px auto;
}

.hiddencard {
  margin-top: 5vh;
}

.arrow {
  margin-top: 1vh;
  height: 80px;
  margin-right: 0px;
}

