<ion-header>
  <ion-toolbar>
    <ion-title width-50 style="text-align: center">About Me</ion-title>
    <ion-button
      color="success"
      slot="end"
      [hidden]="checkIsEnabled()"
      (click)="openModal()"
      ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar (click)="selectImageSource()" class="profile-pic">
    <ion-img [src]="myProfileImage"></ion-img>
  </ion-avatar>
  <ion-title class="title" width-50 style="text-align: center"
    >Welcome To CORDSS!</ion-title
  >
  <ion-list *ngFor="let about of aboutme; let i = index" class="list">
    <ion-title class="title" width-50 style="text-align: center"
      >Hello {{about.name}}</ion-title
    >
  </ion-list>
  <ion-card class="hiddencard" [hidden]="noContent()">
    <ion-item lines="none">
      <p style="font-size: 30px">Click 'Add' to add information About Me!</p>
      <img class="arrow" src="../../../assets/icon/curly arrow 1.png" />
      <img class="image1" src="../../assets/icon/Zebra.png" />
    </ion-item>
  </ion-card>

  <ion-list *ngFor="let about of aboutme; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              color="success"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="editModal(about.rowid)"
            >
              <ion-icon slot="start" name="create" size="large"></ion-icon>Edit
              Info</ion-button
            >
            <ion-item lines="none">
              <ion-card-title>Basic Info </ion-card-title>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-icon
                class="red"
                slot="start"
                name="person"
                size="medium"
              ></ion-icon>
              <p>{{about.name}}</p>
            </ion-item>
            <ion-item
              ><ion-label position="stacked">Date of Birth</ion-label
              ><ion-icon
                class="orange"
                slot="start"
                name="gift"
                size="medium"
              ></ion-icon>
              <p>{{about.birthday | date: "dd MMMM YYYY"}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">A little bit about me</ion-label>
              <ion-icon
                slot="start"
                name="information-circle"
                size="medium"
                class="yellow"
              ></ion-icon>
              <p>{{about.about}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Private Info</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">My Email</ion-label>
              <ion-icon
                class="green"
                slot="start"
                name="mail"
                size="medium"
              ></ion-icon>
              <p>{{about.email}}</p>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">My Phone Number</ion-label>
              <ion-icon
                class="teal"
                slot="start"
                name="call"
                size="medium"
              ></ion-icon>
              <p>{{about.phone}}</p>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">My Address</ion-label>
              <ion-icon
                class="lightblue"
                slot="start"
                name="home"
                size="medium"
              ></ion-icon>
              <p>{{about.address}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">My NHS Number</ion-label>
              <ion-icon
                class="blue"
                slot="start"
                name="newspaper"
                size="medium"
              ></ion-icon>
              <p>{{about.nhs_number}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Emergency Contacts</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label color="primary"> Emergency Contact 1 </ion-label>
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-icon
                class="darkblue"
                slot="start"
                name="person"
                size="medium"
              ></ion-icon>
              <p>{{about.emergency_1_name}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Phone Number</ion-label>
              <ion-icon
                slot="start"
                class="purple"
                name="call"
                size="medium"
              ></ion-icon>
              <p>{{about.emergency_1_number}}</p>
              <ion-button
                shape="round"
                fill="outline"
                slot="end"
                (click)="call1()"
                >Call</ion-button
              >
            </ion-item>
            <ion-label color="primary"> Emergency Contact 2 </ion-label>
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-icon
                class="magenta"
                slot="start"
                name="person"
                size="medium"
              ></ion-icon>
              <p>{{about.emergency_2_name}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Phone Number</ion-label>
              <ion-icon
                slot="start"
                name="call"
                size="medium"
                class="pink"
              ></ion-icon>
              <p>{{about.emergency_2_number}}</p>
              <ion-button
                shape="round"
                fill="outline"
                slot="end"
                (click)="call2()"
                >Call</ion-button
              >
            </ion-item>
            <ion-label color="primary"> Emergency Contact 3 </ion-label>
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-icon
                class="brightpink"
                slot="start"
                name="person"
                size="medium"
              ></ion-icon>
              <p>{{about.emergency_3_name}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Phone Number</ion-label>
              <ion-icon
                slot="start"
                name="call"
                size="medium"
                class="redpink"
              ></ion-icon>
              <p>{{about.emergency_3_number}}</p>
              <ion-button
                shape="round"
                fill="outline"
                slot="end"
                (click)="call3()"
                >Call</ion-button
              >
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
