<ion-header>
  <ion-toolbar>
    <ion-title> About Me </ion-title>
    <ion-button
      color="success"
      slot="end"
      [disabled]="checkIsEnabled()"
      (click)="openModal()"
      ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar (click)="selectImageSource()" class="profile-pic">
    <ion-img [src]="myProfileImage"></ion-img>
  </ion-avatar>
  <ion-card class="hiddencard" [hidden]="noContent()">
    <ion-item lines="none">
      <p style="font-size: 30px">Click 'Add' to add information About Me!</p>
      <img class="arrow" src="../../../assets/icon/curly arrow 1.png" />
    </ion-item>
  </ion-card>
  <ion-list *ngFor="let about of aboutme; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              color="success"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="editModal(about.rowid)"
            >
              <ion-icon slot="start" name="create" size="large"></ion-icon>Edit
              Info</ion-button
            >
            <ion-item lines="none">
              <ion-card-title>Basic Info </ion-card-title>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon
                class="red"
                slot="start"
                name="person"
                size="medium"
              ></ion-icon>
              <p>My name is: {{about.name}}</p>
            </ion-item>
            <ion-item
              ><ion-icon
                class="orange"
                slot="start"
                name="gift"
                size="medium"
              ></ion-icon>
              <p>
                My date of birth is: {{about.birthday | date: "dd MMMM YYYY"}}
              </p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon
                slot="start"
                name="information-circle"
                size="medium"
                class="yellow"
              ></ion-icon>
              <p>A little bit about me: {{about.about}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Private Info</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon
                class="green"
                slot="start"
                name="mail"
                size="medium"
              ></ion-icon>
              <p>My email: {{about.email}}</p>
            </ion-item>
            <ion-item>
              <ion-icon
                class="teal"
                slot="start"
                name="call"
                size="medium"
              ></ion-icon>
              <p>My phone number: {{about.phone}}</p>
            </ion-item>
            <ion-item>
              <ion-icon
                class="lightblue"
                slot="start"
                name="home"
                size="medium"
              ></ion-icon>
              <p>My address: {{about.address}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon
                class="blue"
                slot="start"
                name="newspaper"
                size="medium"
              ></ion-icon>
              <p>My NHS number: {{about.nhs_number}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Emergency Contacts</ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label color="primary"> Emergency Contact 1 </ion-label>
            <ion-item>
              <ion-icon
                class="darkblue"
                slot="start"
                name="person"
                size="medium"
              ></ion-icon>
              <p>Name: {{about.emergency_1_name}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon
                slot="start"
                class="purple"
                name="call"
                size="medium"
              ></ion-icon>
              <p>Phone number: {{about.emergency_1_number}}</p>
              <ion-button>Call</ion-button>
            </ion-item>
            <ion-label color="primary"> Emergency Contact 2 </ion-label>
            <ion-item>
              <ion-icon
                class="magenta"
                slot="start"
                name="person"
                size="medium"
              ></ion-icon>
              <p>Name: {{about.emergency_2_name}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon
                slot="start"
                name="call"
                size="medium"
                class="pink"
              ></ion-icon>
              <p>Phone number: {{about.emergency_2_number}}</p>
              <ion-button>Call</ion-button>
            </ion-item>
            <ion-label color="primary"> Emergency Contact 3 </ion-label>
            <ion-item>
              <ion-icon
                class="brightpink"
                slot="start"
                name="person"
                size="medium"
              ></ion-icon>
              <p>Name: {{about.emergency_3_name}}</p>
            </ion-item>
            <ion-item lines="none">
              <ion-icon
                slot="start"
                name="call"
                size="medium"
                class="redpink"
              ></ion-icon>
              <p>Phone number: {{about.emergency_3_number}}</p>
              <ion-button>Call</ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>

<!-- <ion-content [fullscreen]="true">
    <ion-avatar (click)="selectImageSource()" class="profile-pic">
      <ion-img [src]="myProfileImage"></ion-img>
    </ion-avatar>

    <ion-list *ngFor="let me of aboutme; let i = index" class="list">
      <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="entry-header">My Info</ion-label>
          </ion-col>
        </ion-row>

        <form #form="ngForm" (ngSubmit)="update(rowid)">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked">Date of Birth</ion-label>
                    <ion-icon color="tertiary" slot="start" name="calendar-number-outline"></ion-icon>
                    <ion-datetime
                    placeholder="{{me.birthday | date: 'dd MMMM y'}}"
                    displayFormat="DD MMMM YYYY"
                    [(ngModel)]="data.birthday"
                    name="birthday"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">A little about me</ion-label>
                 <ion-icon color="tertiary" slot="start" name="help-circle-outline"></ion-icon>
                 <ion-textarea
                 type="text"
                 placeholder="{{me.notes}}"
                 [(ngModel)]="default"
                 name="notes"
                ></ion-textarea>
                </ion-item>
               <div class="ion-margin-vertical ion-text-right">
                <ion-button
                type="button"
                fill="outline"
                color="danger"
                size="small"
                (click)="form.reset()"
              >
                <ion-icon slot="start" name="close"></ion-icon>Clear</ion-button>

                <ion-button
                type="button"
                size="small"
                type="submit"
                value="submit"
                id="submit"
                color="success"
              >
                <ion-icon slot="start" name="add"></ion-icon>Update</ion-button
              >
              </div>
            </ion-col>
          </ion-row>
    </form>

   </ion-grid>
</ion-card>
</ion-list>
</ion-content> -->
