<ion-header>
  <ion-toolbar>
    <ion-title>View Urgent Plan details!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let plan of urgentplan; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Urgent Plan Info</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked"
                >Type of Emergency</ion-label
              >
              <ion-icon class="red" slot="start" name="medkit"></ion-icon>
              <p>{{plan.type}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked"
                >Instructions</ion-label
              >
              <ion-icon class="orange" slot="start" name="book"></ion-icon>
              <p>{{plan.instructions}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Telephone</ion-label>
              <ion-icon class="yellow" slot="start" name="call"></ion-icon>
              <p>{{plan.phone}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="medium" position="stacked">Notes</ion-label>
              <ion-icon class="green" slot="start" name="pencil"></ion-icon>
              <p>{{plan.notes}}</p>
            </ion-item>
            <ion-button
              color="danger"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="removeData(plan.rowid)"
              ><ion-icon
                size="large"
                color="danger"
                name="trash-outline"
              ></ion-icon
            ></ion-button>
            <ion-button
              color="success"
              shape="round"
              fill="outline"
              style="float: right"
              (click)="editModal(plan.rowid)"
              ><ion-icon
                size="large"
                color="success"
                slot="start"
                name="create"
              ></ion-icon
              >Edit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
