ion-input {
  color: black;
  --placeholder-opacity: 1;
}

ion-textarea {
  color: black;
  --placeholder-opacity: 1;
}

ion-select {
  color: black;
  --placeholder-opacity: 1;
}

ion-datetime {
  color: black;
  --placeholder-opacity: 1;
}
