<ion-header>
  <ion-toolbar>
    <ion-title>Edit Thoughts & Feelings notes!</ion-title>
    <ion-button
      color="dark"
      fill="clear"
      slot="start"
      size="small"
      (click)="closeModal()"
      ><ion-icon size="large" name="arrow-back-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let note of thoughtsfeelings; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Edit Thoughts & Feelings</ion-card-title>
          </ion-col>
        </ion-row>

        <form #form="ngForm" novalidate (ngSubmit)="update(rowid)">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked"
                  >Note Name</ion-label
                >
                <ion-icon
                  class="red"
                  slot="start"
                  name="chatbubble-ellipses"
                ></ion-icon>
                <ion-input
                  placeholder="{{note.note_name}}"
                  [(ngModel)]="data.note_name"
                  name="note_name"
                  required
                  #note_nameCtrl="ngModel"
                >
                </ion-input>
              </ion-item>
              <ion-item *ngIf="!note_nameCtrl.valid && note_nameCtrl.touched">
                <ion-text color="danger">*Note name is required</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked">Photo</ion-label>
                <ion-button
                  (click)="deleteAll()"
                  shape="round"
                  fill="outline"
                  color="tertiary"
                  size="medium"
                  ><ion-icon slot="start" name="trash" color="tertiary"></ion-icon>
                  Delete All Images
                </ion-button>
                <ion-button
                (click)="takePhoto()"
                [(ngModel)]="data.photo"
                name="photo"
                shape="round"
                fill="outline"
                color="tertiary"
                size="medium"
                ><ion-icon slot="start" name="arrow-up-circle" color="tertiary"></ion-icon>
                Add Images</ion-button>
                <ion-icon slot="start" name="camera" class="orange" ></ion-icon>
                <div class="images-wrapper">
                  <div class="pick-single-image" *ngFor="let photo of photos; let id = index">
                    <img [src]="photo" alt="" srcset="">
                  </div>
                </div>
          </ion-item>
        </ion-col>
      </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="medium" position="stacked">Notes</ion-label>
                <ion-icon
                  class="yellow"
                  slot="start"
                  name="pencil-outline"
                ></ion-icon>
                <ion-textarea
                  type="text"
                  placeholder="{{note.notes}}"
                  [(ngModel)]="data.notes"
                  name="notes"
                ></ion-textarea>
              </ion-item>
              <div class="ion-margin-vertical ion-text-right">
                <ion-button
                  type="button"
                  fill="outline"
                  color="danger"
                  shape="round"
                  (click)="form.reset()"
                >
                  <ion-icon slot="start" name="close"></ion-icon
                  >Clear</ion-button
                >

                <ion-button
                  type="button"
                  shape="round"
                  type="submit"
                  value="submit"
                  id="submit"
                  color="success"
                >
                  <ion-icon slot="start" name="add"></ion-icon
                  >Update</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
