<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Clinical Team</ion-title>
    <ion-button color="success" slot="end" (click)="openModal()"
      ><ion-icon slot="start" name="add"></ion-icon>Add</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true"> 
    <ion-button (click)="takePhoto()">Select Images</ion-button>
    <!-- <button ion-button full (click)="takePhoto()" > -->
      <!-- <ion-icon name="camera"></ion-icon> &nbsp;&nbsp; Take Photo</button>
     -->
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let photo of photos; let id = index">
            <ion-card class="block">
              <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
              <img [src]="photo" *ngIf="photo" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-list *ngFor="let team of clinicalteam; let i = index" class="list">
    <ion-card>
      <ion-grid>
        <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="tertiary">Team Member Info</ion-label>
          <ion-icon
          color="warning"
          slot="start"
          name="person-outline"
        ></ion-icon>
        </ion-item>
            <ion-item>
          <p>Name: {{team.name}}</p>
        </ion-item>
        <ion-item>
        <p>Clinic Name: {{team.clinic_name}}</p>
      </ion-item>
      <ion-button color="light" style="float: right" (click)="removeData(team.rowid)"
      ><ion-icon size="large" color="danger" name="trash-outline"></ion-icon></ion-button>
      <ion-button color="light" style="float: right" (click)="editModal(team.rowid)">
      <ion-icon size="large" color="success" slot="start" name="create"></ion-icon>Edit</ion-button>
      <ion-button color="light" style="float: right" (click)="viewModal(team.rowid)"
      ><ion-icon color="tertiary" slot="start" name="eye"></ion-icon>View</ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
    </ion-card>
  </ion-list>
  </ion-content> -->
  
