<!-- Icon buttons adapted from https://www.svgrepo.com/ -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title width-50 style="text-align: center"> Appointments </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button
          color="light"
          routerLink="upcoming-appointments"
          expand="block"
          class="button1"
          style="font-size: 14px"
          ><img
            class="image"
            src="../../../assets/icon/cardiogram-healthcare-and-medical-svgrepo-com (1).svg"
          />Upcoming Appointments</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50 style="text-align: center"
        ><ion-button
          color="light"
          class="button2"
          routerLink="past-appointments"
          expand="block"
          style="font-size: 16px"
          ><img
            class="image"
            src="../../../assets/icon/band-aid-svgrepo-com.svg"
          />Past Appointments</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
