<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Clinical Team</ion-title>
    <ion-button slot="end" size="small"><ion-icon slot="start" name="add"></ion-icon>Add Team Member</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>Team Member</ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Role</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <div class="ion-margin-vertical ion-text-right">
            <ion-button fill="outline" color="danger">
              <ion-icon slot="start" name="close"></ion-icon>Clear</ion-button>
            <ion-button>
              <ion-icon slot="start" name="add"></ion-icon>Submit</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
