.button1 {
  margin-top: 4vh;
  height: 60px;
  padding: 10;
}

.image1 {
  position: absolute;
  height: 40px;
  left: 0px;
}

.button2 {
  height: 60px;
  padding: 10;
}

.image2 {
  position: absolute;
  height: 40px;
  left: 0px;
}

.button3 {
  height: 60px;
  padding: 10;
}

.image3 {
  position: absolute;
  height: 40px;
  left: 0px;
}

.button4 {
  height: 60px;
  padding: 10;
}

.image4 {
  position: absolute;
  height: 40px;
  left: 0px;
}

.button5 {
  height: 60px;
  padding: 10;
}

.image5 {
  position: absolute;
  height: 40px;
  left: 0px;
}

.button6 {
  height: 60px;
  padding: 10;
}

.image6 {
  position: absolute;
  height: 40px;
  left: 0px;
}

ion-content {
  --ion-background-color: linear-gradient(#5cb9dd, white);
}
